<header>
  <h1>PDF Stitcher</h1>
  <h2>Give me a URL, I'll give you a PDF file</h2>
  <p>Simply give me a page with a list of links to PDF files, and I'll combine them into a single PDF file. Useful for compiling books posted online with separate PDF files for each chapter.</p>
</header>
<section>
  <div>
    <input type="text" name="url" />
    <button type="submit">Stitch it!</button>
  </div>
  <div class="feedback hidden">
    <img src="/images/loader.gif" alt="Loading spinning thing" />
    <span></span>
  </div>
</section>
