<header>
  <h1>PDF Stitcher</h1>
  <h2>Give me a URL, I'll give you a PDF file</h2>
</header>
<section>
  <div>
    <input type="text" name="url" />
    <button type="submit">Stitch it!</button>
  </div>
  <div class="feedback hidden">
    <img src="/images/loader.gif" alt="Loading spinning thing" />
    <span></span>
  </div>
</section>
